@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    box-sizing: border-box;
    background-color: #000;
    color: #F6F6F6;
}
a{
    text-decoration: none;
    color: #F6F6F6;
}
.destaque{
    color: #22D4FD;
}
.cabecalho{
    padding: 2% 0 0 15%;
}
.cabecalho-menu{
    display: flex;
    gap: 80px;
}
.cabecalho-menu-link{
    font-family: 'Montserat', sans-serif;
    font-size: 24px;
    font-weight: 600;
    color: #22D4FD;
}


.apresentacao{
    height: auto;
    display: flex;
    justify-content: space-between;
    gap: 30px;
    padding: 6% 15%;
}
.apresentacao-left{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}
.apresentacao-left-texto{
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.apresentacao-left-texto h1{
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 56px;
    font-family: 'Krona One', sans-serif;

}
.apresentacao-left-texto p{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
}
.apresentação-left-links{
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
}
.apresentação-left-links h1{
    font-family: 'Krona One', sans-serif;
    font-weight: 400;
    font-size: 24px;
}
.apresentação-left-links a{
    border: 2px solid #22D4FD;
    width: 378px;
    text-align: center;
    border-radius: 8px;
    font-size: 24px;
    font-weight: 600;
    padding: 21.5px 0;
    text-decoration: none;
    color: #F6F6F6;
    font-family: 'Montserrat', sans sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.apresentação-left-links a:hover{
    background-color: #272727;
}
.foto-perfil{
    width: 488px;
    height: 550px;
}
footer{
    background-color: #22D4FD;
    color: #000;
    text-align: center;
    padding: 24px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
}
